*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}
p{
    text-align: center;
    color:green;
    padding: 20px;
    font-size: 60px;
    font-weight: bold;
}
.manu{
    background-color: lime;
    display: grid;
    place-items:center;
}
.manu ul{
    list-style-type: none;
}

.manu ul a{
    display: inline-block;
    padding: 20px;
    text-decoration: none;
    color:black;
    transition: 0.2s ease-in;
    font-size: 18px;
}
.manu ul:hover a{
    background-color: green;
    color: white;
}

.item{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 30px 20px;
    grid-column-gap: 20px;
    grid-row-gap: 30px;
}
.item img{
    width: 350px;
    height: 300px;
    object-fit: cover;
    cursor: pointer;
    transform: 0.2s ease;
}
.item img:hover{
    transform: scale(1.04);
}
.item h4{
    padding: 5px;
    text-align: center;
    font-size:18px;
}
.item button{
    padding: 5px 30px;
    border: none;
    outline: none;
    background-color: green;
    color:white ;
    cursor: pointer;
    border-radius: 4px;
    font-size: 20px;
    display: block;
    margin: 0 auto;
}
.item button:hover{
        transform: scale(1.08);
}
.end{
    background-color: black;
    display: grid;
    place-items:center;
}
.end ol{
    list-style: none;
    border-bottom: 1px solid greenyellow;
}
.end ol li{
    color: green;
    font-size: 40px;
    font-weight: bold;
}
.end ul{
    list-style-type: none;
}

.end ul a{
    display: inline-block;
    padding:5px;
    text-decoration: none;
    color:orange;
    transition: 0.2s ease-in;
    font-size: 18px;
}
.end ul:hover a{
    background-color: green;
    color: white;
}
.end p{
    color: white;
    font-size: 18px;

}
@media screen and (max-width: 1000px){
    .item{
        grid-template-columns: repeat(2, 1fr);
    }
}
@media screen and (max-width: 768px){
    .item{
        grid-template-columns: repeat(1, 1fr);
    }
}
